body {
    font-family: Arial, sans-serif;
}

h3 {
    color: #2c3e50;
}

button {
    padding: 10px;
    font-size: 14px;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
